

.count {
    font-size: 30px;
    /*line-height: 47px;*/
    font-weight: 600;
}

@media (min-width:768px) {
    .count {
        font-size: 40px;
    }

    span.count_bottom {
        font-size: 13px;
    }
}


.red {
    color: #E74C3C;
}

.green {
    color: #1ABB9C;
}

.blue {
    color: #3498DB;
}

.scale{
    font-size:12px;
}


