<div class="row tile_count" >
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <currency [code]="'USD'" [symbol] ="'glyphicon glyphicon-usd'"></currency>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <currency [code]="'EUR'" [symbol]="'glyphicon glyphicon-euro'"></currency>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <currency [code]="'RUB'" [symbol]="'glyphicon glyphicon-ruble'"></currency>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <bitcoin></bitcoin>
    </div>
</div>