.justify-content-md-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.app-logo {
    -webkit-border-radius: 20%;
    border-radius: 20%;
    border: 2px solid #fff;
    width: 30px;
   
}
.title {
    padding: 45px 0px 15px 0px
}
.new-user-alert{
    width:100% !important
}

.private h1 {
    font: 400 25px Helvetica,Arial,sans-serif;
    letter-spacing: -.05em;
    margin: 10px 0 30px;
}

.private {
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;
}
