<span class="count_top"><i class="glyphicon glyphicon-bitcoin"></i> BITCOIN</span>
<div *ngIf="loading">
    <spinner></spinner>
</div>
<div *ngIf="!loading" >
    <div class="count">{{exchangeCurrentValue}}<i class="glyphicon glyphicon-usd" aria-hidden="true"></i></div>
    <span class="count_bottom"><i [ngClass]="[delta < 0 ? 'red glyphicon glyphicon-triangle-bottom':'green glyphicon glyphicon-triangle-top']"></i><i [ngClass]="{ 'red': delta < 0,'green': delta > 0}" >{{delta}}</i> From last day</span>
</div>


