<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="../../images/logo.png" width="100" class="user-avatar" />
            <h3>HowMuch. Регистрация</h3>
            <form #f="ngForm" role="form" [formGroup]='signupForm' (ngSubmit)="registerUser(signupForm)" autocomplete=off>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="email" name="email" formControlName='email' placeholder="Email">
                        <div *ngIf="!signupForm.controls['email'].valid && (!signupForm.controls['email'].pristine || f.submitted)">
                            <small *ngIf="signupForm.controls['email'].hasError('required')" class="error">
                                Введите Ваш Email.
                            </small>
                            <small *ngIf="signupForm.controls['email'].hasError('email') && !signupForm.controls['email'].pristine && !signupForm.controls['email'].hasError('required')" class="error">
                                Формат введенного Email не соответствует маске (например, user@gmail.com)
                            </small>
                        </div>
                        <small *ngFor="let error of errors | keys: 'UserName'" class="error">
                            {{error.value}}
                        </small>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control input-underline input-lg" id="password" formControlName='password' placeholder="Пароль">
                        <div *ngIf="!signupForm.controls['password'].valid && (!signupForm.controls['password'].pristine || f.submitted)">
                            <small *ngIf="signupForm.controls['password'].hasError('required')" class="error">
                                Введите Ваш пароль.
                            </small>
                        </div>
                        <small *ngFor="let error of errors | keys: 'password'" class="error">
                            {{error.value}}
                        </small>
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirmPassword" class="form-control input-underline input-lg" id="confirmPassword" formControlName='confirmPassword' placeholder="Повторите пароль">

                        <div *ngIf="!signupForm.controls['confirmPassword'].valid && (!signupForm.controls['confirmPassword'].pristine || f.submitted)">
                            <small *ngIf="signupForm.controls['confirmPassword'].hasError('required') " class="error">
                                Подтвердите Ваш пароль.
                            </small>
                        </div>
                        <small *ngFor="let error of errors | keys: 'confirmPassword'" class="error">
                            {{error.value}}
                        </small>
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit"> Зарегистрироваться </button>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Войти </a>

            </form>
        </div>

    </div>
</div>
